nav {
  color: white;
}

body {
  padding-top: 4rem;
  /*overflow: hidden;*/
}

img {
  width: 300px;
  margin-left: 50px;
  margin-right: 50px;
}

#jumbo {
  background-color: #67daf9;
  color: #353b40;
}

.btn {
  margin-top: 20px;
}

.image {
  display: flex;
  align-items: center;
  justify-content: space-around;
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.content-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-content-1 {
  background-color: #353b40;
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.body-content-2 {
  background-color: #67daf9;
  color: #353b40;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.body-content-3 {
  background-color: #353b40;
  color: white;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input {
  margin-top: 20px;
}
