nav {
  color: white;
}

body {
  padding-top: 4rem;
  /*overflow: hidden;*/
}

img {
  width: 300px;
  margin-left: 50px;
  margin-right: 50px;
}

#jumbo {
  background-color: #353b40;
  color: white;
}

.btn {
  margin-top: 20px;
}

.image {
  display: flex;
  align-items: center;
  justify-content: space-around;
  -webkit-animation: spin 12s linear infinite;
  -moz-animation: spin 12s linear infinite;
  animation: spin 12s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.body-content-1 {
  background-color: #353b40;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.body-content-2 {
  background-color: #353b40;
  color: white;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.body-content-3 {
  background-color: #353b40;
  color: white;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.body-content-4 {
  background-color: #353b40;
  color: white;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.input {
  margin-top: 20px;
}

.palette {
  margin: 0 auto;
  height: 200px;
  width: 150px;
  padding: 0;
  background-color: #FFF;
  Webkit-filter: drop-shadow(0px 0px 5px #666);
  filter: drop-shadow(0px 0px 5px #666);
}
